$white: #ffffff;
$black: #000000;
$blackAlpha: rgba(0, 0, 0, 0.8);
$gray1: #c3c3c3;
$gray2: #e8e8e9;

$red: #C12525;
$darkRed: #9F1E1E;

$breakpoints: (
  "xs": 0,
  "sm": 576,
  "md": 744,
  "lg": 992,
  "xl": 1200,
  "xxl": 1400,
  "xxxl": 1800
);

@mixin media-down($breakpoint) {
  $pixelsBreakpoint: map-get($breakpoints, $breakpoint) - 1px;

  @media screen and (max-width: $pixelsBreakpoint) {
    @content;
  }
}

@mixin media-up($breakpoint) {
  $pixelsBreakpoint: map-get($breakpoints, $breakpoint)+0px;

  @media screen and (min-width: $pixelsBreakpoint) {
    @content;
  }
}

@mixin media-between($breakpointMin, $breakpointMax) {
  $pixelsBreakpointMin: map-get($breakpoints, $breakpointMin)+0px;
  $pixelsBreakpointMax: map-get($breakpoints, $breakpointMax) - 1px;

  @media screen and (min-width: $pixelsBreakpointMin) and (max-width: $pixelsBreakpointMax) {
    @content;
  }
}