.button {
  display: flex;
  position: relative;

  &--center {
    justify-content: center;
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--gloves {
    .button__link {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Cpath d='M29.707 6.293l-4-4A1 1 0 0 0 25 2h-.9a1 1 0 0 0-.708.293L21 4.683a2.337 2.337 0 0 0-.523.213L20 5.173c-2.493 1.435-5.749 5.075-5.994 7.28a1 1 0 0 0 .044.424 8.892 8.892 0 0 0 4.9 5.03 1.027 1.027 0 0 0 .178.054A1.9 1.9 0 0 0 19.51 18a4.118 4.118 0 0 0 2.517-1.214l.136.136a2.588 2.588 0 0 0 1.734.767A2.317 2.317 0 0 0 25.674 17l1.158-1.158a2.362 2.362 0 0 0 .682-1.5l.254-3.479a2.476 2.476 0 0 0-.011-.3l1.95-1.952A1 1 0 0 0 30 7.9V7a1 1 0 0 0-.293-.707Zm-4.188 7.9a.359.359 0 0 1-.1.233L24.26 15.585a.4.4 0 0 1-.286.1.6.6 0 0 1-.4-.183l-.193-.192a7.668 7.668 0 0 0 .814-1.277 1 1 0 1 0-1.81-.852C21.82 14.4 20.167 15.939 19.571 16a6.9 6.9 0 0 1-3.537-3.534C16.4 11.079 18.862 8.135 21 6.907l.482-.277a.532.532 0 0 1 .613.133l3.5 3.5a.589.589 0 0 1 .182.449ZM28 7.488 26.823 8.666 23.506 5.349c-.057-.058-.122-.1-.183-.156L24.515 4h.071L28 7.414Zm-14.945 6.6a1.027 1.027 0 0 0-.178-.054 3.634 3.634 0 0 0-2.9 1.175l-.136-.136A2.588 2.588 0 0 0 8.1 14.312 2.28 2.28 0 0 0 6.326 15L5.168 16.156a2.362 2.362 0 0 0-.682 1.5L4.231 21.14a2.476 2.476 0 0 0 .011.3l-1.95 1.952A1 1 0 0 0 2 24.1V25a1 1 0 0 0 .293.707l4 4A1 1 0 0 0 7 30h.9a1 1 0 0 0 .708-.293l2.387-2.389a2.344 2.344 0 0 0 .524-.215L12 26.827c2.493-1.435 5.749-5.075 5.994-7.28a1 1 0 0 0-.044-.424 8.892 8.892 0 0 0-4.895-5.03ZM7.485 28H7.414L4 24.586v-.074l1.177-1.178 3.316 3.318c.058.058.124.1.186.153ZM11 25.093l-.482.277a.529.529 0 0 1-.613-.133l-3.5-3.5a.589.589 0 0 1-.182-.449L6.481 17.8a.359.359 0 0 1 .1-.233L7.74 16.408a.37.37 0 0 1 .267-.1h.02a.6.6 0 0 1 .4.183l.193.192a7.668 7.668 0 0 0-.82 1.279 1 1 0 1 0 1.81.852c.568-1.208 2.222-2.753 2.818-2.813a6.9 6.9 0 0 1 3.537 3.534C15.6 20.921 13.138 23.865 11 25.093ZM6.293 7.707A1 1 0 1 1 7.707 6.293l2 2A1 1 0 1 1 8.293 9.707ZM11 9V7a1 1 0 0 1 2 0V9a1 1 0 0 1-2 0ZM6 12a1 1 0 0 1 1-1H9a1 1 0 0 1 0 2H7A1 1 0 0 1 6 12ZM25.707 24.293a1 1 0 1 1-1.414 1.414l-2-2a1 1 0 1 1 1.414-1.414ZM26 20a1 1 0 0 1-1 1H23a1 1 0 0 1 0-2h2A1 1 0 0 1 26 20Zm-5 3v2a1 1 0 0 1-2 0V23a1 1 0 0 1 2 0Z' transform='translate(-2 -2)' fill='%23fff'/%3E%3C/svg%3E");
      }
    }
  }

  &--calendar {
    .button__link {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.63' height='26.255' viewBox='0 0 23.63 26.255'%3E%3Cpath d='M.009 8.891a6.967 6.967 0 0 1 1.1-4.127l.2-.3.017-.016.142-.166h0l.149-.17.017-.018a5.377 5.377 0 0 1 .937-.765l.1-.061h0l.1-.056.225-.13c.091-.043.19-.095.282-.138.066-.026.133-.06.2-.085.125-.053.258-.1.391-.147A.68.68 0 0 1 4 2.661l.054-.022h0l.059-.022a9.5 9.5 0 0 1 1.858-.363l-.065.008V.956a.945.945 0 1 1 1.89 0V5.083a.945.945 0 1 1-1.89 0V4.129A6.224 6.224 0 0 0 4.1 4.59c-1.49.67-2.2 1.947-2.268 3.97l-.005.326v.508H21.8V8.873a5.792 5.792 0 0 0-.548-2.712A3.457 3.457 0 0 0 19.52 4.577a6.018 6.018 0 0 0-1.469-.422l-.328-.04v.963a.945.945 0 0 1-1.89 0V4.045H7.807V2.168h8.025V.951a.945.945 0 0 1 1.89-.014V2.255a9.122 9.122 0 0 1 1.361.24l.445.126a.74.74 0 0 1 .113.034c.05.018.091.035.141.051.132.043.254.095.382.147.073.026.141.06.2.085.1.043.2.095.282.138s.163.091.233.13.124.082.182.117a5.684 5.684 0 0 1 .724.555l.221.21.01.018.154.164h0l.145.173.008.016A6.951 6.951 0 0 1 23.63 8.52l-.009.366v.508h.009v10.18c0 4.439-2.479 6.682-7.392 6.682H7.381C2.479 26.255 0 24.013 0 19.574H0V9.394H.009ZM17.218 18.7a1.1 1.1 0 0 0-1.093 1.116 1.116 1.116 0 0 0 1.093 1.116 1.116 1.116 0 0 0 0-2.231Zm-5.4-.012a1.122 1.122 0 0 0 0 2.243A1.1 1.1 0 0 0 12.9 19.806a1.122 1.122 0 0 0-1.082-1.116Zm-5.409 0a1.122 1.122 0 0 0 0 2.243 1.122 1.122 0 0 0 0-2.243Zm10.806-4.753A1.116 1.116 0 1 0 18.3 15.053 1.092 1.092 0 0 0 17.218 13.938Zm-5.4-.012a1.122 1.122 0 0 0 0 2.243A1.1 1.1 0 0 0 12.9 15.042a1.114 1.114 0 0 0-1.082-1.116Zm-5.4 0A1.112 1.112 0 0 0 5.33 15.053a1.082 1.082 0 1 0 1.093-1.127Z' fill='%23fff'/%3E%3C/svg%3E");
      }
    }
  }

  &__link {
    padding: 1.4rem 3.5rem;
    background-color: $red;
    color: $white;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease;

    &:before {
      content: '';
      display: inline-flex;
      position: relative;
    }

    &:hover {
      background-color: $lightRed;
      transition: all 0.3s ease;
    }
  }
}