@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.featured-image {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-up(xl) {
    height: 60rem;
  }

  @include media-up(xxxl) {
    height: 71rem;
  }
}