.featured-image {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--front-page {
    @include media-up(xxl) {
      padding-top: 26rem;
      min-height: 60rem;
    }
  }
}