.logo {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-up(xxl) {
    width: 35.9rem;
    height: 20rem;
  }

  &__picture {
    width: 11rem;
    height: 100%;
    margin-top: 4px;

    @include media-up(xl) {
      width: 16.2rem;
    }
  }

  &__text {
    display: none;

    @include media-up(xl) {
      display: flex;
      width: 16.2rem;
      height: 12rem;
      font-size: 2rem;
      line-height: 120%;
      font-weight: 900;
      text-transform: uppercase;
      color: $white;
      padding-left: 4.4rem;
      border-left: 1px solid $white;

      align-items: center;
      position: relative;
      top: 0.7rem;
    }
  }
}