.main-nav {
  display: flex;
  align-items: flex-start;
  transition: all 0.3s ease;
  min-height: 5.8rem;
  position: relative;

  @include media-down(xl) {
    width: 100%;
    position: absolute;
    left: -100%;
    background-color: $blackAlpha;
    margin-top: 7rem;
    position: absolute;
    z-index: 4;
  }

  &.active {
    transition: all 0.5s ease;
    left: 0;

    .main-nav__nav {
      height: 100%;
      top: 2rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 100%;

    @include media-up(xl) {
      align-items: center;
      flex-direction: row;
      width: auto;
      position: relative;
      top: -2rem;
    }

    .menu-item {
      letter-spacing: -0.1px;
      font-size: 2rem;
      line-height: 100%;
      font-weight: 500;
      color: $white;
      text-transform: uppercase;
      margin: 0 3.1rem 0 3.1rem;
      min-height: 4rem;
      display: flex;
      align-items: center;


      @include media-up(xl) {
        height: 100%;
        position: relative;
        margin: 0 2rem 0 2rem;
      }

      @include media-up(xxl) {
        margin: 0 3.1rem 0 3.1rem;
      }

      &:first-of-type {
        margin: 0;

        @include media-up(xl) {
          margin: 0 2rem 0 0;
        }

        @include media-up(xxl) {
          margin: 0 3.1rem 0 0;
        }
      }

      &:last-of-type {
        @include media-up(xl) {
          margin: 0 0 0 2rem;
        }

        a {
          @include media-up(xxl) {
            padding: 0 0.8rem;
          }
        }
      }

      &.current-menu-item {
        &:before {
          @include media-up(xl) {
            position: absolute;
            content: '';
            display: inline-block;
            height: 0.8rem;
            width: 0.8rem;
            background-color: $red;
            border-radius: 10rem;
            bottom: -2.4rem;
            left: calc(50% - 0.3rem);
          }
        }
      }

      &.home-icon {
        a {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.8' height='27.16' viewBox='0 0 25.8 27.16'%3E%3Cpath d='M7.989 22.526v-3.68a1.711 1.711 0 0 1 1.709-1.7h3.463a1.712 1.712 0 0 1 1.72 1.7h0v3.692A1.47 1.47 0 0 0 16.324 24h2.309A4.147 4.147 0 0 0 22.8 19.874h0V9.405A2.927 2.927 0 0 0 21.646 7.12l-7.9-6.3a3.816 3.816 0 0 0-4.733 0L1.154 7.131A2.9 2.9 0 0 0 0 9.417V19.874A4.147 4.147 0 0 0 4.167 24H6.476a1.482 1.482 0 0 0 1.489-1.474h0' transform='translate(1.5 1.66)' fill='none' stroke='%23c12525' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' fill-rule='evenodd'/%3E%3C/svg%3E");
          font-size: 0px;
          padding: 1.3rem 0 1.4rem 0;
          width: 2.6rem;
          height: 2.4rem;
          display: inline-block;
        }
      }


      a {
        padding: 1.5rem 0.2rem;

        &:hover {
          color: $white;
        }
      }
    }
  }
}